<div class="content">
	<header>
		<h1>Note List</h1>
	</header>
	<div class="noteListTop">
		<form action="/addNewNote" method="post">
			<button type="submit">Create new Note</button>
		</form>
		<form action="/changeStyle" method="get">
			<button type="submit" value="styleSwitcher">Switch style!</button>
		</form>
		<form action="/showFinished" method="get"><input type="hidden" method="_show_finished">
			<button type="submit" method="get">Show Finished</button>
		</form>
	</div>
	<form action="/getNotes" method="get" class="noteListBottom">
		<fieldset>
			<legend>Sort by</legend>
			<button {{#if_equal sortOrder "dateDue"}}class="pressed"{{/if_equal}} type="submit" name="submit"
					value="dateDue">Date Due
			</button>
			<button {{#if_equal sortOrder "dateCreated"}}class="pressed"{{/if_equal}} type="submit" name="submit"
					value="dateCreated">Date Created
			</button>
			<button {{#if_equal sortOrder "priority"}}class="pressed"{{/if_equal}} type="submit" name="submit"
					value="priority">Priority
			</button>
		</fieldset>
	</form>

	<div id="noteContainer">
		{{#each notes}}
			<form class="finishedNote" action="/editNote" method="post">
				<div class="noteTitleRow">
					<span>{{dateFormat dueDate "D. MMM YYYY"}}</span>
					<p>{{noteTitle}}</p>
					<span>{{#multiply priority}}
						&#x26a1;
					{{/multiply}}</span>
				</div>
				<div class="noteContentRow">
					<div><input name="isDone" id="isDone" type="checkbox" {{#if done}}checked{{/if}} disabled>
						<label for="isDone">Finished</label></div>
					<textarea name="noteContent" disabled>{{description}}</textarea>
					<input type="hidden" name="_id" value="{{_id}}">
					<button type="submit" class="editNote">Edit</button>
				</div>
			</form>
		{{/each}}
	</div>
</div>

