<html>
<label><select>
	<option>Style1</option>
	<option>Style2</option>
</select>
</label>
<form action="/addNewNote" method="get">
	<button type="submit" name="submit" value="addNewNote">Create new Note</button>
</form>
<form action="/getNotes" method="get">
	<fieldset><legend>sort by</legend>
		<button type="submit" name="submit" value="finishDate">Finish Date</button>
		<button type="submit" name="submit" value="createdDate">created Date</button>
		<button type="submit" name="submit" value="importance">Importance</button>
	</fieldset>
	<button type="submit" name="submit" value="showFinished">Show Finished</button>
</form>

<div id="noteContainer"></div>
</html>