<div class="content">
	<header>
		<h1>Note List</h1>
	</header>
	<div class="noteListTop">
		<form action="/addNewNote" method="post">
			<button type="submit">Create new Note</button>
		</form>
		<form action="/changeStyle" method="get">
			<button {{#if_equal config.styleSwitcher "2"}} class="pressed"{{/if_equal}}type="submit" value="styleSwitcher">Switch style!</button>
		</form>
		<form action="/showFinished" method="get">
			<button type="submit" method="get" >Show {{#unless config.showFinishedActive}}Unfinished{{/unless}}{{#if_equal config.showFinishedActive "1"}}All{{/if_equal}}{{#if_equal config.showFinishedActive "0"}}Unfinished{{/if_equal}}</button>
		</form>
	</div>
	<form action="/getNotes" method="get" class="noteListBottom">
		<fieldset class="fieldSetBottom">
			<legend>Sort by</legend>
			<button {{#if_equal config.sortOrder "dateDue"}}class="pressed"{{/if_equal}} type="submit" name="submit"
					value="dateDue">Date Due
			</button>
			<button {{#if_equal config.sortOrder "dateCreated"}}class="pressed"{{/if_equal}} type="submit" name="submit"
					value="dateCreated">Date Created
			</button>
			<button {{#if_equal config.sortOrder "priority"}}class="pressed"{{/if_equal}} type="submit" name="submit"
					value="priority">Priority
			</button>
		</fieldset>
	</form>

	<div id="noteContainer">
        {{#unless notes}}
            <div id="emptyNoteContainer">No Todos found</div>
        {{/unless}}
		{{#each notes}}
			<form class="finishedNote" action="/editNote" method="post">
				<div class="noteTitleRow">
					<span>{{dateFormat dueDate "D. MMM YYYY"}}</span>
					<p>{{noteTitle}}</p>
					<span>{{#multiply priority}}
						&#x26a1;
					{{/multiply}}</span>
				</div>
				<div class="noteContentRow">
					<div><input name="isDone" id="isDone" type="checkbox" {{#if done}}checked{{/if}} disabled>
						<label for="isDone">Finished</label></div>
					<textarea name="noteContent" disabled>{{description}}</textarea>
					<input type="hidden" name="_id" value="{{_id}}">
					<button type="submit" class="editNote">Edit</button>
				</div>
			</form>
		{{/each}}
	</div>
</div>

