<html>
<head>
<link href="styles/style.css" rel="stylesheet">
</head>
<body>
<div class="content">
<form action="/addNewNote" method="get">
	<button type="submit" name="submit" value="addNewNote">Create new Note</button>
    <button type="submit" name="submit" value="showFinished">Show Finished</button>

</form>
    <label>
        <select id="styleSwitcher">
            <option>Style 1</option>
            <option>Style 2</option>
        </select>
    </label>
<form action="/getNotes" method="get">
	<fieldset><legend>Sort by</legend>
		<button type="submit" name="submit" value="dateDue">Date Due</button>
		<button type="submit" name="submit" value="dateCreated">Date Created</button>
		<button type="submit" name="submit" value="priority">Priority</button>
	</fieldset>
</form>

<div id="noteContainer"></div>

</div>
</body>
</html>