<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<meta name="author" content="Oli Dias & Muriele Trentini">
	<meta name="organisation" content="HSR Hochschule Rapperswil">
    <link rel="stylesheet" href="/styles/style1.css">
    {{#if_equal config.styleSwitcher "2"}}<link rel="stylesheet" href="/styles/style2.css" >{{/if_equal}}
</head>
<body>
{{{body}}}
</body>
</html>