/**RESET**/
*{
    padding: 0;
    margin: 0;
    font: 14px Helvetica, Arial;
}
/**GENERAL**/
.content {
    display: flex;
    flex-direction: column;
    margin: 1em 10%;
}
header{
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
h1{
    font-size: 24px;
    font-weight: bold;
}
.noteListTop {
    display: flex;
    justify-content: space-between;
}

/**BUTTONS**/
button{
    border: 1px solid gray;
    border-radius: 5px;
    width: 140px;
    min-width:140px;
    height: 40px;
    background-color: transparent;
    margin-bottom: 1em;
}
button:hover{
    background-color: #F1F1F1;
    cursor: hand;
}

/**SELECT**/
#styleSwitcher{
    height: 40px;
    width: 140px;
}
/**FIELDSET**/
fieldset{
    border: none;
    margin-top: 1em;
    padding: 1em;
}

/**FORMS**/
#newNote > label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.buttonSection{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
label > input:not(#doneCheck){
    border-radius: 3px;
    height: 40px;
    border: 1px solid lightgray;
    width: 80%;
    margin: 1em 0;
}
label > textarea{
    height: 80px;
    width:80%;
}

/**NOTE**/
.note{
    display:flex;
    align-content: stretch;
    border: 1px solid black;
    flex: 1 1 50%;
}
#noteContent{
    flex-grow: 5;
}

/**PRIORITY**/
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\26A1";
    position: absolute;
    left: 0;
    color: #FFD700;
}

/*TODO: style note template on index page*/