/**RESET**/
* {
    padding: 0;
    margin: 0;
    font: 14px Helvetica, Arial;
    box-sizing: border-box;
}

/**GENERAL**/
.content {
    display: flex;
    flex-direction: column;
    margin: 1em 10%;
}

header {
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

.noteListTop {
    display: flex;
    justify-content: space-between;
}

/**BUTTONS**/
button {
    border: 1px solid gray;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    background-color: transparent;
    margin-bottom: 1em;
}

button:hover {
    background-color: #F1F1F1;
    cursor: hand;
}

.pressed {
    background: lightgray;
    color: black;
    box-shadow: 1px 1px 1px black inset;
}

/**SELECT**/
#styleSwitcher {
    height: 40px;
    width: 140px;
}

/**FIELDSET**/
fieldset {
    border: none;
    margin-top: 1em;
    padding: 1em;
}

/**FORMS**/
#newNote > label, #newNote > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.buttonSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonSection > button {
    margin-top: 2em;
}

label > input:not(#doneCheck) {
    border-radius: 3px;
    height: 40px;
    border: 1px solid lightgray;
    width: 80%;
    margin: 1em 0;
}

label > #doneCheck {
    margin-right: 1em;
}

label > textarea {
    height: 80px;
    width: 80%;
}

/**NOTE**/
.note {
    display: flex;
    align-content: stretch;
    border: 1px solid black;
    flex: 1 1 50%;
}

/**NOTES-TEMPLATE ON INDEXPAGE**/
#noteContainer {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}

#emptyNoteContainer {
    height: 3em;
    font-size: 15px;
    padding-top: 1.5em;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    background-color: #f3f3f3;
}

.finishedNote {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}

.noteTitleRow, .noteContentRow {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5em 0;
}

.noteContentRow > textarea {
    flex-grow: 1;
    padding: 0.5em;
    margin: 0 1em;
}

.noteContentRow > .editNote {
    flex-shrink: 3;
}

.noteTitle {
    padding-left: 1em;
}

.space {
    flex-grow: 1;
}

@media (max-width: 50em) {
    #newNote > label, #newNote > span {
        flex-direction: column;
    }

    .content {
        margin: 1em 0.25em;
    }

    #newNote {
        margin: 0;
    }

    .noteListTop {
        display: flex;
        flex-direction: column;
        margin: 0 0.25em;
    }

    .noteListTop button, .sortButtons {
        width: 100%;
        margin: 0;
    }

    .noteContentRow {
        display: flex;
        flex-direction: column;
    }

    .noteContentRow > textarea {
        margin: 0
    }

    .noteContentRow > button {
        width: 50%;
        margin-top: 0.5em;
    }

    .noteTitleRow {
        display: flex;
        flex-flow: row nowrap;
    }

    .noteTitleRow > p {
        overflow: hidden;
    }

    .buttonSection {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 1em 10%;
    }

    .buttonSection > button {
        margin-top: 1em;
        margin-right: 0.5em;
        width:5em;
    }

    .editNote {
        max-width: 6em;
    }
}